{% extends 'base.html' %}

{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block content %}

    {% load static %}
    <div class="container" id="auth-container">
        <div class="row" id="auth-row">
            <form method="POST" action="{% url 'users:login'%}" id="form-login">
                {% csrf_token %}
                <!--img class="mb-6" src="{% static 'img/Logo.png' %}" alt='' id="login-logo" width="400" height="150" style="position: center;"-->
                <h1 class="h3 mb-3 fw-normal">Sign in</h1>
                {% if form.errors %}
                    <p class="alert alert-danger"> Usuario o contraseña no es correcto</p>
                {% endif %}
                <div class="form-floating">
                  <input type="text" class="form-control" id="username" name='username' placeholder="name@example.com">
                  <label for="floatingInput">Nombre de usuario</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  <label for="floatingPassword">Contraseña</label>
                </div>
                <p></p>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2021 Havensecurity</p>
            </form>
        </div>
    </div>
{% endblock %}